body {
    background-color:brown;
}

 footer {
    background-color: rgb(78, 9, 9);
    color: rgb(47, 68, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
 }
 footer p {
    text-align: center;
    font-size: 0.6rem;
 }