body {
   background-color: rgb(235, 223, 223);
   color: black;
   }

footer{ 
   background-color:  black;
   color: rgb(238, 229, 229);  
   position: fixed;
   bottom: 0;
   width: 100%;
}
footer p {
   text-align: center; 
   font-size: 0.9rem;
   margin-top: 0.5rem;
}

#container {
   display: flex;
 }

.cartao{
   margin:1rem 1remm;
.cartao {
   margin: 1rem 1 rem;
   background-color: blue;
   height:20rem;
   flex-basis: calc(33% - 6rem);
